body { 
    width: 50%;
	font: 12pt/14pt georgia, sans-serif;  
    margin: 200px; 
    border: 1px solid black;
	margin: auto;
    padding: 10px;
    background: white
    }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
footer	{
	color:#000;
	height:60px;
    position:absolute;
    width: 50%;
	padding:40px 0 80px 200px;
	}
